# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [10]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite')
cursor = conn.cursor()

cursor.execute('''SELECT firstName, lastName, offices.city, offices.state FROM employees JOIN offices USING(officeCode) GROUP BY lastName;''')
#Your code here

df = pd.DataFrame(cursor.fetchall())
print('Number of results', len(df))
df.head()

Number of results 19

         0         1              2   3
0     Loui    Bondur          Paris
1    Larry      Bott         London
2  Anthony       Bow  San Francisco  CA
3   Pamela  Castillo          Paris
4    Julie  Firrelli         Boston  MA

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [13]:
cursor.execute('''SELECT customerName, orderNumber, orderDate, status FROM orders JOIN customers USING(customerNumber) GROUP BY customerName;''').fetchall()

# Your code here

[('AV Stores, Co.', '10332', '2004-11-17', 'Shipped'),
 ('Alpha Cognac', '10397', '2005-03-28', 'Shipped'),
 ('Amica Models & Co.', '10293', '2004-09-09', 'Shipped'),
 ("Anna's Decorations, Ltd", '10391', '2005-03-09', 'Shipped'),
 ('Atelier graphique', '10345', '2004-11-25', 'Shipped'),
 ('Australian Collectables, Ltd', '10415', '2005-05-09', 'Disputed'),
 ('Australian Collectors, Co.', '10347', '2004-11-29', 'Shipped'),
 ('Australian Gift Network, Co', '10374', '2005-02-02', 'Shipped'),
 ('Auto Associés & Cie.', '10304', '2004-10-11', 'Shipped'),
 ('Auto Canal+ Petit', '10402', '2005-04-07', 'Shipped'),
 ('Auto-Moto Classics Inc.', '10352', '2004-12-03', 'Shipped'),
 ('Baane Mini Imports', '10325', '2004-11-05', 'Shipped'),
 ('Bavarian Collectables Imports, Co.', '10296', '2004-09-15', 'Shipped'),
 ('Blauer See Auto, Co.', '10323', '2004-11-05', 'Shipped'),
 ('Boards & Toys Co.', '10376', '2005-02-08', 'Shipped'),
 ('CAF Imports', '10231', '2004-03-19', 'Shipped'),
 ('Cambridge Collectables Co.', '10249', '2004-05-08', 'Shipped'),
 ('Canadian Gift Exchange Network', '10313', '2004-10-22', 'Shipped'),
 ('Classic Gift Ideas, Inc', '10307', '2004-10-14', 'Shipped'),
 ('Classic Legends Inc.', '10337', '2004-11-21', 'Shipped'),
 ('Clover Collections, Co.', '10297', '2004-09-16', 'Shipped'),
 ('Collectable Mini Designs Co.', '10226', '2004-02-26', 'Shipped'),
 ('Collectables For Less Inc.', '10369', '2005-01-20', 'Shipped'),
 ('Corporate Gift Ideas Co.', '10384', '2005-02-23', 'Shipped'),
 ('Corrida Auto Replicas, Ltd', '10348', '2004-11-01', 'Shipped'),
 ('Cruz & Sons Co.', '10330', '2004-11-16', 'Shipped'),
 ('Daedalus Designs Imports', '10224', '2004-02-21', 'Shipped'),
 ('Danish Wholesale Imports', '10406', '2005-04-15', 'Disputed'),
 ('Diecast Classics Inc.', '10422', '2005-05-30', 'In Process'),
 ('Diecast Collectables', '10243', '2004-04-26', 'Shipped'),
 ('Double Decker Gift Stores, Ltd', '10213', '2004-01-22', 'Shipped'),
 ('Down Under Souveniers, Inc', '10404', '2005-04-08', 'Shipped'),
 ('Dragon Souveniers, Ltd.', '10387', '2005-03-02', 'Shipped'),
 ('Enaco Distributors', '10340', '2004-11-24', 'Shipped'),
 ('Euro+ Shopping Channel', '10424', '2005-05-31', 'In Process'),
 ('Extreme Desk Decorations, Ltd', '10418', '2005-05-16', 'Shipped'),
 ('Frau da Collezione', '10218', '2004-02-09', 'Shipped'),
 ('FunGiftIdeas.com', '10388', '2005-03-03', 'Shipped'),
 ('Gift Depot Inc.', '10413', '2005-05-05', 'Shipped'),
 ('Gift Ideas Corp.', '10353', '2004-12-04', 'Shipped'),
 ('Gifts4AllAges.com', '10414', '2005-05-06', 'On Hold'),
 ('GiftsForHim.com', '10410', '2005-04-29', 'Shipped'),
 ('Handji Gifts& Co', '10409', '2005-04-23', 'Shipped'),
 ('Heintze Collectables', '10314', '2004-10-22', 'Shipped'),
 ('Herkku Gifts', '10289', '2004-09-03', 'Shipped'),
 ('Iberia Gift Imports, Corp.', '10303', '2004-10-06', 'Shipped'),
 ("Kelly's Gift Shop", '10399', '2005-04-01', 'Shipped'),
 ('King Kong Collectables, Co.', '10200', '2003-12-01', 'Shipped'),
 ("L'ordine Souveniers", '10416', '2005-05-10', 'Shipped'),
 ("La Corne D'abondance, Co.", '10336', '2004-11-20', 'Shipped'),
 ('La Rochelle Gifts', '10425', '2005-05-31', 'In Process'),
 ('Land of Toys Inc.', '10329', '2004-11-15', 'Shipped'),
 ('Lyon Souveniers', '10395', '2005-03-17', 'Shipped'),
 ('Marseille Mini Autos', '10364', '2005-01-06', 'Shipped'),
 ("Marta's Replicas Co.", '10305', '2004-10-13', 'Shipped'),
 ("Men 'R' US Retailers, Ltd.", '10209', '2004-01-09', 'Shipped'),
 ('Microscale Inc.', '10319', '2004-11-03', 'Shipped'),
 ('Mini Auto Werke', '10392', '2005-03-10', 'Shipped'),
 ('Mini Caravy', '10405', '2005-04-14', 'Shipped'),
 ('Mini Classics', '10308', '2004-10-15', 'Shipped'),
 ('Mini Creations Ltd.', '10365', '2005-01-07', 'Shipped'),
 ('Mini Gifts Distributors Ltd.', '10421', '2005-05-29', 'In Process'),
 ('Mini Wheels Co.', '10333', '2004-11-18', 'Shipped'),
 ('Motor Mint Distributors Inc.', '10331', '2004-11-17', 'Shipped'),
 ('Muscle Machine Inc', '10349', '2004-12-01', 'Shipped'),
 ('Norway Gifts By Mail, Co.', '10301', '2003-10-05', 'Shipped'),
 ('Online Diecast Creations Co.', '10322', '2004-11-04', 'Shipped'),
 ('Online Mini Collectables', '10294', '2004-09-10', 'Shipped'),
 ('Osaka Souveniers Co.', '10240', '2004-04-13', 'Shipped'),
 ('Oulu Toy Supplies, Inc.', '10373', '2005-01-31', 'Shipped'),
 ('Petit Auto', '10423', '2005-05-30', 'In Process'),
 ('Québec Home Shopping Network', '10411', '2005-05-01', 'Shipped'),
 ('Reims Collectables', '10398', '2005-03-30', 'Shipped'),
 ('Rovelli Gifts', '10328', '2004-11-12', 'Shipped'),
 ('Royal Canadian Collectables, Ltd.', '10283', '2004-08-20', 'Shipped'),
 ('Royale Belge', '10366', '2005-01-10', 'Shipped'),
 ('Salzburg Collectables', '10419', '2005-05-17', 'Shipped'),
 ('Saveley & Henriot, Co.', '10227', '2004-03-02', 'Shipped'),
 ('Scandinavian Gift Ideas', '10389', '2005-03-03', 'Shipped'),
 ('Signal Collectibles Ltd.', '10219', '2004-02-10', 'Shipped'),
 ('Signal Gift Stores', '10346', '2004-11-29', 'Shipped'),
 ('Souveniers And Things Co.', '10420', '2005-05-29', 'In Process'),
 ('Stylish Desk Decors, Co.', '10351', '2004-12-03', 'Shipped'),
 ('Suominen Souveniers', '10363', '2005-01-06', 'Shipped'),
 ('Super Scale Inc.', '10245', '2004-05-04', 'Shipped'),
 ('Technics Stores Inc.', '10362', '2005-01-05', 'Shipped'),
 ('Tekni Collectables Inc.', '10401', '2005-04-03', 'On Hold'),
 ('The Sharp Gifts Warehouse', '10407', '2005-04-22', 'On Hold'),
 ('Tokyo Collectables, Ltd', '10408', '2005-04-22', 'Shipped'),
 ('Toms Spezialitäten, Ltd', '10310', '2004-10-16', 'Shipped'),
 ('Toys of Finland, Co.', '10377', '2005-02-09', 'Shipped'),
 ('Toys4GrownUps.com', '10367', '2005-01-12', 'Resolved'),
 ('UK Collectables, Ltd.', '10403', '2005-04-08', 'Shipped'),
 ('Vida Sport, Ltd', '10287', '2004-08-30', 'Shipped'),
 ('Vitachrome Inc.', '10324', '2004-11-05', 'Shipped'),
 ('Volvo Model Replicas, Co', '10334', '2004-11-19', 'On Hold'),
 ('West Coast Collectables Co.', '10215', '2004-01-29', 'Shipped'),
 ('giftsbymail.co.uk', '10316', '2004-11-01', 'Shipped')]

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [3]:
# Your code here

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and allthe product information for each product in the order.

In [4]:
# Your code here

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!