# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [5]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite')
cursor = conn.cursor()

cursor.execute('''SELECT firstName, lastName, offices.city, offices.state FROM employees JOIN offices GROUP BY lastName;''').fetchall()
#Your code here

[('Loui', 'Bondur', 'London', ''),
 ('Larry', 'Bott', 'London', ''),
 ('Anthony', 'Bow', 'London', ''),
 ('Pamela', 'Castillo', 'London', ''),
 ('Julie', 'Firrelli', 'London', ''),
 ('Andy', 'Fixter', 'London', ''),
 ('Martin', 'Gerard', 'London', ''),
 ('Gerard', 'Hernandez', 'London', ''),
 ('Leslie', 'Jennings', 'London', ''),
 ('Barry', 'Jones', 'London', ''),
 ('Yoshimi', 'Kato', 'London', ''),
 ('Tom', 'King', 'London', ''),
 ('Peter', 'Marsh', 'London', ''),
 ('Diane', 'Murphy', 'London', ''),
 ('Mami', 'Nishi', 'London', ''),
 ('Steve', 'Patterson', 'London', ''),
 ('Leslie', 'Thompson', 'London', ''),
 ('Foon Yue', 'Tseng', 'London', ''),
 ('George', 'Vanauf', 'London', '')]

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [2]:
# Your code here

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [3]:
# Your code here

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and allthe product information for each product in the order.

In [4]:
# Your code here

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!